/*
Custom css
*/
.nav-icon {
    margin-left: 0 !important;
}

.nav-caret {
    opacity: 1;
    margin-right: inherit;
}

.sidenav .nav li li a {
    padding-left: 0.80rem;
    padding-right: 1rem;
    line-height: 2.2rem;
}

.sidenav .nav-text {
    opacity: 1 !important;
    line-height: 1.5rem;
    padding: 0.20rem 0;
}

.sidenav .nav-icon{
    height: 1.8rem;
    width: 2rem;
}

.sidenav .nav li > a{
    padding: 0 0.8rem;
}

.alert-dismissible .close {
    cursor: pointer;
    padding: 0.6rem 1.25rem !important;
}

.rtl .alert[role="alert"] {
    padding-right: 50px !important;
}

.notie-textbox {
    display: block;
    margin-right: inherit !important;
    text-align: center;
}

.dropdown-item.language-picker-item{
    padding: 0.25rem 0.8rem!important;
}

.dropdown-item.language-picker-item .language-picker-name{
    padding: 0 6px;
}

.content-main .p-2 {
    padding: 1.2rem!important;
}

.form-group .control-label,
.box .box-header,
.box .box-body{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor-pointer{
    cursor: pointer!important;
}
.card-header{
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border: 1px solid #e5e5e5;
    border-bottom: 2px solid #ccc;
    background: #f5f5f5;
}
.card {
    border-bottom: 2px solid #e1e1e1;
}