/*
Custom css
*/
.nav-icon {
    margin-left: 0 !important;
}

.nav-caret {
    opacity: 1;
    margin-right: inherit;
}

.sidenav .nav li li a {
    padding-left: 0.80rem;
    padding-right: 1rem;
    line-height: 2.2rem;
}

.sidenav .nav-text {
    opacity: 1 !important;
}

.alert-dismissible .close {
    cursor: pointer;
    padding: 0.6rem 1.25rem !important;
}

.rtl .alert[role="alert"] {
    padding-right: 50px !important;
}

.notie-textbox {
    display: block;
    margin-right: inherit !important;
    text-align: center;
}