/*
Custom css
*/
.nav-icon {
    margin-left: 0 !important;
}

.nav-caret {
    opacity: 1;
    margin-right: inherit;
}

.sidenav .nav li li a {
    padding-left: 0.80rem;
    padding-right: 1rem;
    line-height: 2.2rem;
}

.sidenav .nav-text {
    opacity: 1 !important;
    line-height: 1.5rem;
    padding: 0.20rem 0;
}

.sidenav .nav-icon {
    height: 1.8rem;
    width: 2rem;
}

.sidenav .nav li > a {
    padding: 0 0.8rem;
}

.alert-dismissible .close {
    cursor: pointer;
    padding: 0.6rem 1.25rem !important;
}

.rtl .alert[role="alert"] {
    padding-right: 50px !important;
}

.notie-textbox {
    display: block;
    margin-right: inherit !important;
    text-align: center;
}

.dropdown-item.language-picker-item {
    padding: 0.25rem 0.8rem !important;
}

.dropdown-item.language-picker-item .language-picker-name {
    padding: 0 6px;
}

.content-main .p-2 {
    padding: 1.2rem !important;
}

.form-group .control-label,
.box .box-header,
.box .box-body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor-pointer {
    cursor: pointer !important;
}

.card-header {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border: 1px solid #e5e5e5;
    border-bottom: 2px solid #ccc;
    background: #f5f5f5;
}

.card {
    border-bottom: 2px solid #e1e1e1;
}

.ui-switch {
    text-align: initial !important;
}

.card-body a {
    color: #0567bb;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f1f2f4;
    border: 1px solid #dcd8d8;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #f0f1f2;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #d4e9ff;
    color: #5e5e5e;
}

.btn {
    cursor: pointer;
}

.nav-sub {
    max-height: 50rem !important;
}


/** animated loader */
@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.animated {
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite
}