/*
Custom css
*/

.form-control {
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.has-error .form-control {
    /*box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);*/
    border-color: #dc3545;
}

.has-error .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
    border-color: #dc3545;
}

.has-success .form-control {
    border-color: #28a745;
}

.has-success .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, .25);
}

.btn {
    position: relative;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    font-weight: 600;
    padding: 7px 12px;
    transition: background .3s ease-in-out 0s;
}

.btn.btn-default {
    padding: 6px 12px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    border-width: 1px;
    border-color: #c3c6c9;
    color: #657483;
    background-color: #f5f6f7;
}

.btn.btn-white {
    padding: 6px 12px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    border-width: 1px;
    border-color: #c3c6c9;
    color: #657483;
    background-color: #fff
}

.btn.btn-success, .bg.success, .btn.btn-success.btn.circle > i {
    color: #fff;
    background-color: #3fcf7f;
}

.btn.btn-info, .bg.info, .btn.btn-info.btn-circle > i {
    color: #fff;
    background-color: #5191d1;
}

.btn.btn-primary, .bg.primary, .btn.btn-primary.btn-circle > i {
    color: #fff;
    background-color: #13c4a5;
}

.btn.btn-warning, .bg.warning, .btn-warning.btn-circle > i {
    color: #fff;
    background-color: #f4c414;
}

.btn.btn-danger, .bg.danger, .btn.btn-danger.btn-circle > i {
    color: #fff;
    background-color: #ff5f5f;
}

.btn.disabled, .btn.disabled:hover, .btn[disabled]:hover, fieldset[disabled] .btn:hover, .btn.disabled:focus, .btn[disabled]:focus, fieldset[disabled] .btn:focus, .btn.disabled:active, .btn[disabled]:active, fieldset[disabled] .btn:active, .btn.disabled.active, .btn[disabled].active, fieldset[disabled] .btn.active {
    background-color: #c4c9cf;
    color: #fff;
}

.warn {
    color: rgba(255, 255, 255, 0.85);
    background-color: #907eec;
}

.accent {
    color: rgba(255, 255, 255, 0.85);
    background-color: #6284f3;
}

.btn:hover {
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}

.btn:not([disabled]):hover, .btn:not([disabled]):focus, .btn:not([disabled]).active {
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}

.btn.white:hover, .btn.white:focus, .btn.white:active, .btn.white.active {
    border-color: #c3c6c9;
    color: #657483;
    background-color: #f7f8f9;
}

.btn.success:hover, .btn.success:focus, .btn.success:active, .btn.success.active, .btn.success.btn.circle:hover > i {
    color: #fff;
    /* background-color: #4fdf8f; */
}

.panel {
    border-color: #e3e8ed;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-heading, .panel-footer {
    border-color: #e3e8ed;
    background: #f7f8f9;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-heading .nav-tabs {
    margin: -10px -16px -11px -16px;
}

.panel-heading .nav-tabs > li > a:hover, .panel-heading .nav-tabs > li > a:focus {
    border-width: 0 1px;
    background: transparent;
    border-color: transparent;
}

.panel-heading .nav-tabs > li > a {
    line-height: 20px;
}

.nav-tabs.nav-justified > li {
    display: table-cell;
    /* width: 1%; */
    float: none;
    margin-bottom: -1px;
}

.panel-heading .nav > li > a {
    border-radius: 0;
    margin: 0;
    border-width: 0 1px;
    line-height: 19px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.panel-body {
    padding: 15px;
}

.nav-tabs.nav-justified > li > a {
}

.panel-heading .nav-tabs {
    border-bottom: 1px solid #ddd;
}

.panel {
    border-color: #e3e8ed;
}

.panel-heading .nav-tabs > li.active > a, .panel-heading .nav-tabs > li.active > a:hover, .panel-heading .nav-tabs > li.active > a:focus {
    background: #fff;
    border-width: 0 1px;
    border-color: #ddd;
    margin: 0px 1px 0 1px
}

.panel-heading .nav-tabs > li > a.active, .panel-heading .nav-tabs > li > a.active:hover, .panel-heading .nav-tabs > li > a.active:focus {
    background: #fff;
    border-width: 0 1px;
    border-color: #ddd;
    margin: 0px 1px 0 1px
}

.nav-tabs > li.active > a {
    border: 1px solid #099;
    border-bottom: 1px solid #ffffff !important;
    border-top: 2px solid #bbbbbb !important;
}

.nav-tabs>li>a.active {
    border: 1px solid #099;
    border-bottom: 1px solid #ffffff !important;
    border-top: 2px solid #bbbbbb !important;
}

.carousel-inner > .item {
    position: relative;
    display: none;
    transition: .6s ease-in-out left;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: #888;
    /* width: 40px; */
    opacity: 1;
    font-size: 20px;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    background: #ddd;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    margin: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 1px;
}

.carousel-indicators .active {
    background-color: #13c4a5;
}

.carousel-control-next i, .carousel-control-prev i {
    color: #7b7b7b;
    font-size: 20px;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

.progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.progress.active .progress-bar, .progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.progress-bar {
    float: right;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar-info {
    background-color: #5bc0de;
}

.progress-bar-warning {
    background-color: #f0ad4e;
}

.progress-bar-danger {
    background-color: #d9534f;
}

.progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

form, .carousel, .form-horizontal .control-group, .nav-tabs, .alert, .panel, .progress, .breadcrumb, .accordion {
    margin-bottom: 15px;
}

.progress {
    height: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.form-group.has-success .form-control:focus {
    border-color: #28a745 !important;
}

.form-group.has-error .form-control:focus {
    border-color: #900 !important;
}

.form-group:not(.has-success):not(.has-error) .form-control:focus {
    border-color: #53a6fa !important;
}

.table.table-striped thead {
    border-bottom: 2px solid #6a8cbf;
    box-shadow: inset 0 -5px 3px #f4f9ff;
}

.table.table-striped > thead > tr > th {
    border-color: rgba(120, 130, 140, 0.065);
    background: #e5fff6;
}

.custom-select, .custom-file-control, .custom-file-control:before, select.form-control:not([size]):not([multiple]):not(.form-control-lg):not(.form-control-sm) {
    height: calc(2.25rem + -2px) ;
}
.item-title {
    border-bottom: 2px solid #eee;
    padding: 10px 0;
    margin: 0 0 25px;
}
.bg-1{
    background: #eee;
}

.box-style1 {
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 3px 8px #eee;
    margin-bottom: 25px;
}
.box-style1 .footer{
    background: #f5f5f5;
    border-bottom: 1px solid #e1e1e1;
}
.box-style1 .footer > *{
    padding: 8px 15px 8px 15px !important;
}
.box-style1 .footer .button {
    padding: 8px 15px;
    text-align: center;
    transition: all 0.3s;
}
.box-style1 .footer .button.add {
    background: transparent;
    color: #26b39a;
}
.box-style1 .footer .button.add:hover {
    background: #36e2cc;
    color: #fff;
}
.box-style1 .footer .button.info {
    background: transparent;
    color: #dcb007;
}
.box-style1 .footer .button.info:hover {
    background: #dcb007;
    color: #fff;
    cursor: default;
}
.box-style1 .module-icon {
    /*background: #f3f3f3;*/
    margin: 0 -15px 15px;
}
.box-style1 .footer .button.remove {
    color: #e22a5c;
}
.box-style1 .footer .button.remove:hover {
    color: #fff;
    background: #e22a5c;
}

.box-style1 .box-body.installed{
    background: linear-gradient(to bottom, #edfff8 10%, #fff 80%);
}
.box-style1:hover {
    box-shadow: 0 8px 25px #eee;
}
